@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: whitesmoke;
}

.header-small-screen {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: none;
}

.header-row {
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo img {
  height: 40px;
}

.menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.hamburger path {
  fill: none;
  stroke: whitesmoke;
  stroke-linecap: round;
}

.fullpage-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  display: none;
}

.fullpage-menu-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 100px 60px;
}

.menu-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.fullpage-menu-inner nav {
  position: relative;
  z-index: 1;
  text-align: center;
}

.fullpage-menu-inner nav ul {
  list-style: none;
}

.fullpage-menu-inner nav ul li {
  overflow: hidden;
}

.fullpage-menu-inner nav li + li {
  margin-top: 30px;
}

.fullpage-menu-inner nav li a {
  font-size: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
  letter-spacing: 5px;
  color: transparent;
  -webkit-text-stroke: 1px whitesmoke;
}

.fullpage-menu-inner nav li a span {
  position: relative;
  display: block;
}

.fullpage-menu-inner nav li a span:before {
  content: attr(data-clip);
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fad961;
  background-image: linear-gradient(160deg, #fad961 0%, #f76b1c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  z-index: 1;
  height: 0%;
  overflow: hidden;
  transition: 400ms linear 0s;
}

.fullpage-menu-inner nav li:hover a span:before {
  height: 100%;
}

.header-big-screen {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.header-big-screen::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 1s linear;
}
.header-big-screen:hover::before {
  left: 100%;
}

.navbar a {
  color: whitesmoke;
  position: relative;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  padding: 6px 10px;
  transition: 0.5s;
}

.navbar a:hover {
  color: #0ef;
}

.navbar a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 2px solid #0ef;
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  transition: 0.5s;
  opacity: 0;
}

.navbar a:hover span {
  transform: scale(1) translateY(0);
  opacity: 1;
}
@media screen and (max-width: 850px) {
  .header-big-screen {
    display: none;
  }
  .header-small-screen {
    display: block;
  }

  .header-row {
    padding: 30px;
  }

  .fullpage-menu-inner nav li a {
    font-size: 54px;
  }
}

@media screen and (max-width: 750px) {
  .header-row {
    padding: 25px;
  }

  .fullpage-menu-inner nav li a {
    font-size: 35px;
  }
}

#cursor {
  --circle-size: 60px;
  position: fixed;
  width: var(--circle-size);
  height: var(--circle-size);
  border: 5px solid white;
  z-index: 9;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  box-shadow: 0px 0px 10px 30px rgba(255, 255, 255, 0.3) inset;
  transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

#landing-section {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#landing-section .background-clip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

#landing-section .content {
  text-align: center;
  z-index: 2;
}

#landing-section .content h1 {
  font-size: 95px;
  color: whitesmoke;
}

#landing-section .content h2 {
  font-size: 60px;
  color: whitesmoke;
  margin-bottom: 50px;
}

#landing-section .content a {
  font-size: 23px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 15px 25px;
  border-radius: 50px;
  transition: 0.5s;
}

#landing-section .content a:hover {
  background-color: whitesmoke;
  color: black;
}

#landing-section .boxes {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

#landing-section .boxes .box {
  width: 20%;
  height: 100%;
  background-color: white;
}

@media (max-width: 850px) {
  #landing-section .content h1 {
    font-size: 80px;
  }

  #landing-section .content h2 {
    font-size: 50px;
  }

  #landing-section .content a {
    font-size: 20px;
    padding: 12px 20px;
  }
}

@media (max-width: 750px) {
  #landing-section .content h1 {
    font-size: 70px;
  }

  #landing-section .content h2 {
    font-size: 45px;
  }

  #landing-section .content a {
    font-size: 18px;
    padding: 10px 18px;
  }

  #landing-section .boxes .box {
    width: 25%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-clip {
    width: auto;
    height: 100%;
  }
}

#Shop-Phones {
  min-height: 100vh;
  width: 100%;
}
#Accessories {
  min-height: 100vh;
  width: 100%;
}
#Account {
  min-height: 100vh;
  width: 100%;
}

#footer {
  min-height: 90.1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  color: #000;
}

.footer-container {
  width: 78%;
  min-height: 100%;
  display: flex;
}

.footer-container .footer-left {
  width: 33.33%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.42);
  border-right: 1px solid rgba(0, 0, 0, 0.42);
}

.footer-container .footer-left .content {
  margin-top: 20%;
  padding-right: 20px;
}

.footer-container .footer-left .content h4 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.footer-container .footer-left .content p:nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-container .footer-left .content p:nth-child(3) {
  font-size: 1rem;
}

.footer-container .footer-mid {
  width: 33.33%;
  height: 100%;
}

.footer-container .footer-mid .content {
  margin-top: 40%;
}

.footer-container .footer-mid .content p {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.footer-container .footer-mid .content ul {
  list-style: none;
}

.footer-container .footer-mid .content ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.42);
  z-index: 999;
  padding: 15px;
}

.footer-container .footer-mid .content ul li:nth-last-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  padding: 15px;
}

.footer-container .footer-mid .content ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
  transition: all 0.5s ease-in-out;
}
.footer-container .footer-mid .content ul li a i {
  opacity: 0;
  padding-right: 10px;
  transition: all 0.3s ease-in-out;
}
.footer-container .footer-mid .content ul li:hover i {
  opacity: 1;
}
.footer-container .footer-mid .content ul li:hover a {
  transform: translateX(10px);
}

.footer-container .footer-right {
  width: 33.33%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.42);
  border-right: 1px solid rgba(0, 0, 0, 0.42);
}

.footer-container .footer-right .content {
  margin-top: 65%;
  margin-bottom: 40%;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-social-media .footer-social-media-img {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease-out;
}

.footer-social-media .footer-social-media-img:hover {
  transform: scale(1.1);
}

.footer-social-media .footer-social-media-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-container .footer-right .content p {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.footer-container .footer-right .content ul {
  list-style: none;
}

.footer-container .footer-right .content ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.42);
  padding: 5px;
}

.footer-container .footer-right .content ul li:nth-last-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.footer-container .footer-right .content ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
  transition: all 0.5s ease-in-out;
}
.footer-container .footer-right .content ul li a i {
  opacity: 0;
  padding-right: 10px;
  transition: all 0.3s ease-in-out;
}
.footer-container .footer-right .content ul li:hover i {
  opacity: 1;
}
.footer-container .footer-right .content ul li:hover i {
  transform: translateX(10px);
}

@media (max-width: 1200px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-container .footer-left,
  .footer-container .footer-mid,
  .footer-container .footer-right {
    width: 100%;
    height: auto;
    border: none;
  }

  .footer-container .footer-left .content,
  .footer-container .footer-mid .content,
  .footer-container .footer-right .content {
    margin-top: 10%;
  }

  .footer-container .footer-mid .content ul li {
    padding: 10px;
  }

  .footer-container .footer-right .content ul li {
    padding: 10px;
  }
  .footer-container .footer-mid .content ul li:nth-last-child(1) {
    padding: 10px;
  }
}

@media (max-width: 850px) {
  .footer-container .footer-left .content h4 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .footer-container .footer-left .content p:nth-child(2),
  .footer-container .footer-left .content p:nth-child(3) {
    font-size: 0.9rem;
  }

  .footer-container .footer-mid .content p,
  .footer-container .footer-right .content p {
    font-size: 0.6rem;
  }

  .footer-container .footer-mid .content ul li,
  .footer-container .footer-right .content ul li {
    padding: 10px;
  }

  .footer-social-media .footer-social-media-img {
    width: 25px;
    height: 25px;
  }
  .footer-social-media .footer-social-media-img img {
    width: 15px;
    height: 15px;
  }
  .footer-container .footer-right .content ul {
    margin-bottom: -15%;
  }
}

@media (max-width: 750px) {
  .footer-container .footer-left .content h4 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  .footer-container .footer-left .content p:nth-child(2),
  .footer-container .footer-left .content p:nth-child(3) {
    font-size: 0.8rem;
  }

  .footer-container .footer-mid .content p,
  .footer-container .footer-right .content p {
    font-size: 0.5rem;
  }

  .footer-container .footer-mid .content ul li,
  .footer-container .footer-right .content ul li {
    padding: 8px;
  }

  .footer-social-media .footer-social-media-img {
    width: 20px;
    height: 20px;
  }

  .footer-social-media .footer-social-media-img img {
    width: 10px;
    height: 10px;
  }
  .footer-container .footer-right .content ul {
    margin-bottom: -30%;
  }
}
