@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background: rgb(19, 4, 33);
  background: radial-gradient(circle, rgb(19, 4, 33) 0%, rgb(11, 3, 35) 100%);
  color: whitesmoke;
}

.loader {
  position: fixed;
  left: 0;
  z-index: 999;
  top: 0;
<<<<<<< Updated upstream
  background: whitesmoke;
  color: white;
=======
  color: whitesmoke;
  background-color: #000;
>>>>>>> Stashed changes
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-text {
  position: absolute;
  font-size: 10vmax;
  width: fit-content;
  display: flex;
}

.loaded-text {
  transform: scale(1.5);
}

.loading-text {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
}


.header-small-screen {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: none;
}

.header-row {
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo img {
  height: 40px;
}

.menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.hamburger path {
  fill: none;
  stroke: whitesmoke;
  stroke-linecap: round;
}

.fullpage-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  display: none;
}

.fullpage-menu-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 100px 60px;
}

.menu-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.fullpage-menu-inner nav {
  position: relative;
  z-index: 1;
  text-align: center;
}

.fullpage-menu-inner nav ul {
  list-style: none;
}

.fullpage-menu-inner nav ul li {
  overflow: hidden;
}

.fullpage-menu-inner nav li + li {
  margin-top: 30px;
}

.fullpage-menu-inner nav li a {
  font-size: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
  letter-spacing: 5px;
  color: transparent;
  -webkit-text-stroke: 1px whitesmoke;
}

.fullpage-menu-inner nav li a span {
  position: relative;
  display: block;
}

.fullpage-menu-inner nav li a span:before {
  content: attr(data-clip);
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fad961;
  background-image: linear-gradient(160deg, #fad961 0%, #f76b1c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  z-index: 1;
  height: 0%;
  overflow: hidden;
  transition: 400ms linear 0s;
}

.fullpage-menu-inner nav li:hover a span:before {
  height: 100%;
}

.header-big-screen {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.header-big-screen::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 1s linear;
}
.header-big-screen:hover::before {
  left: 100%;
}

.navbar a {
  color: whitesmoke;
  position: relative;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  padding: 6px 10px;
  transition: 0.5s;
}

.navbar a:hover {
  color: #0ef;
}

.navbar a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 2px solid #0ef;
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  transition: 0.5s;
  opacity: 0;
}

.navbar a:hover span {
  transform: scale(1) translateY(0);
  opacity: 1;
}
@media screen and (max-width: 850px) {
  .header-big-screen {
    display: none;
  }
  .header-small-screen {
    display: block;
  }

  .header-row {
    padding: 30px;
  }

  .fullpage-menu-inner nav li a {
    font-size: 54px;
  }
}

@media screen and (max-width: 750px) {
  .header-row {
    padding: 25px;
  }

  .fullpage-menu-inner nav li a {
    font-size: 35px;
  }
}

#cursor {
  --circle-size: 60px;
  position: fixed;
  width: var(--circle-size);
  height: var(--circle-size);
  border: 5px solid white;
  z-index: 9;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  box-shadow: 0px 0px 10px 30px rgba(255, 255, 255, 0.3) inset;
  transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

#landing-section {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  opacity: 0;
}

#landing-section .background-clip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

#landing-section .content {
  text-align: center;
  z-index: 2;
}

#landing-section .content h1 {
  font-size: 95px;
  color: whitesmoke;
}

#landing-section .content h2 {
  font-size: 60px;
  color: whitesmoke;
  margin-bottom: 50px;
}

#landing-section .content a {
  font-size: 23px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 15px 25px;
  border-radius: 50px;
  transition: 0.5s;
  opacity: 0;
}

#landing-section .content a:hover {
  background-color: whitesmoke;
  color: black;
}

.loader .boxes {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  display: flex;
}

.loader .boxes .box {
  width: 20%;
  height: 100%;
  background-color: white;
}

@media (max-width: 850px) {
  #landing-section .content h1 {
    font-size: 80px;
  }

  #landing-section .content h2 {
    font-size: 50px;
  }

  #landing-section .content a {
    font-size: 20px;
    padding: 12px 20px;
  }
}

@media (max-width: 750px) {
  #landing-section .content h1 {
    font-size: 70px;
  }

  #landing-section .content h2 {
    font-size: 45px;
  }

  #landing-section .content a {
    font-size: 18px;
    padding: 10px 18px;
  }

  #landing-section .boxes .box {
    width: 25%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-clip {
    width: auto;
    height: 100%;
  }
}

<<<<<<< Updated upstream
.features-wrapper,
.about-wrapper {
  display: flex;
  transition: transform 0.2s ease-in-out;
}

.features-title {
  text-align: left;
  margin: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  color: white;
}


.about-details {
  text-align: left;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  color: white;
}

.features-title h2 {
  font-size: 4rem;
}

.features-title p {
  font-size: 0.75rem;
}

.buttons-container {
  display: flex;
  width: 100%;
  gap: 2rem;
  margin-top: 20px;
}

button {
  width: fit-content;
  background-color: goldenrod;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 16px;
  border-radius: 6px;
}

button:disabled {
  background-color: rgba(100, 94, 5, 0.206);
  cursor: not-allowed;
}

.product-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  flex: 1;
  height: 100vh;
}

.about-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
  width: 320px;
  height: 100vh;
}

.featured-products-image-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product-wrapper {
  position: absolute;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  width: 100%;
  height: 100%;
}

.product-wrapper img {
  width: 90%;
  height: 50%;
  object-fit: contain;
  transition: transform 1s ease;
  /* Ensure smooth sliding effect */
}

body {
  overflow: hidden;
}

.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.mic::before,
.mic::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 2;
  box-shadow: 0 0 20px 20px #1c084f;
}

.mic::before {
  width: 400px;
  height: 400px;
  background-color: #1a084e;
}

.mic::after {
  width: 250px;
  height: 250px;
  background-color: #2f1e5f;
  animation: circle-size 0.8s linear infinite alternate;
}

.mic-icon {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(5);
  display: block;
  width: 16px;
  height: 12px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  border: 2px solid;
  border-top: 0;
  margin-top: 20px;
  z-index: 3;
}

.mic-icon::before,
.mic-icon::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.mic-icon::before {
  width: 2px;
  height: 5px;
  top: calc(100% + 1px);
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
}

.mic-icon::after {
  border: 2px solid;
  width: 8px;
  height: 18px;
  left: 50%;
  top: -10px;
  border-radius: 4px;
  transform: translate(-50%, 0);
}

.mic-shadow {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 1;
  box-shadow: 10px -55px 30px 15px #823ca6, 24px -10px 47px 10px #aab3d2, -21px -25px 97px 10px #5acee3, 51px 5px 17px 10px #1b7d8f, 3px 2px 77px 10px #f30bf5;
  animation: shadow-rotate 1.5s linear infinite;
  transform-origin: center;
}

@keyframes circle-size {
  from {
    width: 250px;
    height: 250px;
  }

  to {
    width: 300px;
    height: 300px;
  }
}

@keyframes shadow-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.product-buy {
  width: 250px;
  padding: 1rem;
}

.about-details {
  display: flex;
}

.about-details h3 {
  font-size: 2rem;
}

.about-details p {
  font-size: 0.75rem;
}

.qualities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  gap: 1rem;
  align-items: center;
}

.quality-item {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quality-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
}

#banner {
=======
#Shop-Phones {
>>>>>>> Stashed changes
  min-height: 100vh;
  width: 100%;
}
#Accessories {
  min-height: 100vh;
  width: 100%;
}
#Account {
  min-height: 100vh;
  width: 100%;
}

#footer {
  min-height: 90.1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  color: whitesmoke;
}

.footer-container {
  width: 80%;
  min-height: 100%;
  display: flex;
}

.footer-container .footer-left {
  width: 33.33%;
  height: 100%;
  padding-left: 1rem;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}

.footer-container .footer-left .content {
  margin-top: 20%;
  padding-right: 20px;
}

.footer-container .footer-left .content h4 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.footer-container .footer-left .content p:nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-container .footer-left .content p:nth-child(3) {
  font-size: 1rem;
}

.footer-container .footer-mid {
  width: 33.33%;
  height: 100%;
}

.footer-container .footer-mid .content {
  margin-top: 40%;
}

.footer-container .footer-mid .content p {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 1rem;
}

.footer-container .footer-mid .content ul {
  list-style: none;
}

.footer-container .footer-mid .content ul li {
  border-top: 1px solid whitesmoke;
  z-index: 999;
  padding: 15px;
}

.footer-container .footer-mid .content ul li:nth-last-child(1) {
  border-bottom: 1px solid whitesmoke;
  padding: 15px;
}

.footer-container .footer-mid .content ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
.footer-container .footer-mid .content ul li a i {
  opacity: 0;
  padding-right: 10px;
  transition: all 0.3s ease-in-out;
}
.footer-container .footer-mid .content ul li:hover i {
  opacity: 1;
}
.footer-container .footer-mid .content ul li:hover a {
  transform: translateX(10px);
}

.footer-container .footer-right {
  width: 33.33%;
  height: 100%;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}

.footer-container .footer-right .content {
  margin-top: 65%;
  margin-bottom: 35%;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-social-media .footer-social-media-img {
  width: 30px;
  height: 30px;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease-out;
}

.footer-social-media .footer-social-media-img:hover {
  transform: scale(1.1);
}

.footer-social-media .footer-social-media-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-container .footer-right .content p {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 1rem;
}

.footer-container .footer-right .content ul {
  list-style: none;
}

.footer-container .footer-right .content ul li {
  border-top: 1px solid whitesmoke;
  padding: 5px;
  padding-left: 1rem;
}

.footer-container .footer-right .content ul li:nth-last-child(1) {
  border-bottom: 1px solid whitesmoke;
}

.footer-container .footer-right .content ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
.footer-container .footer-right .content ul li a i {
  opacity: 0;
  padding-right: 10px;
  transition: all 0.3s ease-in-out;
}
.footer-container .footer-right .content ul li:hover i {
  opacity: 1;
}
.footer-container .footer-right .content ul li:hover i {
  transform: translateX(10px);
}

@media (max-width: 1200px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }

  .footer-container .footer-left,
  .footer-container .footer-mid,
  .footer-container .footer-right {
    width: 100%;
    height: auto;
    border: none;
  }

  .footer-container .footer-left .content,
  .footer-container .footer-mid .content,
  .footer-container .footer-right .content {
    margin-top: 10%;
  }

  .footer-container .footer-mid .content ul li {
    padding: 10px;
  }

  .footer-container .footer-right .content ul li {
    padding: 10px;
  }
  .footer-container .footer-mid .content ul li:nth-last-child(1) {
    padding: 10px;
  }
}

@media (max-width: 850px) {
  .footer-container .footer-left .content h4 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .footer-container .footer-left .content p:nth-child(2),
  .footer-container .footer-left .content p:nth-child(3) {
    font-size: 0.9rem;
  }

  .footer-container .footer-mid .content p,
  .footer-container .footer-right .content p {
    font-size: 0.6rem;
  }

  .footer-container .footer-mid .content ul li,
  .footer-container .footer-right .content ul li {
    padding: 10px;
  }

  .footer-social-media .footer-social-media-img {
    width: 25px;
    height: 25px;
  }
  .footer-social-media .footer-social-media-img img {
    width: 15px;
    height: 15px;
  }
  .footer-container .footer-right .content ul {
    margin-bottom: -15%;
  }
}

@media (max-width: 750px) {
  .footer-container .footer-left .content h4 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  .footer-container .footer-left .content p:nth-child(2),
  .footer-container .footer-left .content p:nth-child(3) {
    font-size: 0.8rem;
  }

  .footer-container .footer-mid .content p,
  .footer-container .footer-right .content p {
    font-size: 0.5rem;
  }

  .footer-container .footer-mid .content ul li,
  .footer-container .footer-right .content ul li {
    padding: 8px;
  }

  .footer-social-media .footer-social-media-img {
    width: 20px;
    height: 20px;
  }

  .footer-social-media .footer-social-media-img img {
    width: 10px;
    height: 10px;
  }
  .footer-container .footer-right .content ul {
    margin-bottom: -30%;
  }
}
